<!-- 
<br><br><br>
<div class="card">
  <div class="card-body">
    <h1 class="storyheading">Issue Creations</h1>


    
  <form [formGroup]="issueForm">
    <table>
        <tr>
            <td>
                <mat-label >Name</mat-label><br>
                        <mat-form-field class="inputSizeWidth">
                            <input type="text" matInput autocomplete="off" formControlName="description">
                            <mat-placeholder>Name</mat-placeholder>
                </mat-form-field>
            </td>
            <td class="padsize">
                <mat-label>Project</mat-label><br>
                <mat-form-field class="inputSizeWidth">
                    <input type="text" matInput autocomplete="off" formControlName="project">
                    <mat-placeholder>Name</mat-placeholder>
        </mat-form-field>
            </td>
            <td class="padsize">
                
            </td><mat-label>Status</mat-label><br>
                <mat-form-field class="inputSizeWidth">
                    <input type="text" matInput autocomplete="off" formControlName="status">
                    <mat-placeholder>Name</mat-placeholder>
        </mat-form-field>
            <td class="padsize">
                <mat-label>Priority</mat-label><br>
                <mat-form-field class="inputSizeWidth">
                    <input type="text" matInput autocomplete="off" formControlName="priority">
                    <mat-placeholder>Name</mat-placeholder>
        </mat-form-field>
            </td>
        </tr>
    </table>
    
  </form>


  <br>

        <div style="margin-bottom: 100px;">
            <button class="btn btn-light" id="submitBtn" [disabled]="!issueForm.valid" (click)="SubmitIssue()">Submit</button>
            <button class="btn btn-light" id="WhiteBtn" (click)="BackToSummary()">Back</button>


        </div>


    </div>
</div>     -->

<!-- <pre>{{sprintForm?.value | json}}</pre>  -->

<!-- <div class="cus-createHeader">
  <h3>New Issue Creation</h3>
  <nav class="cus-createHeaderNav">
    <p class="cus-createHeaderNavActive" id="cus-createDetailsBtn">
      New Issue Creation
    </p>
  </nav>
</div> -->

<form [formGroup]="issueForm">
  <!-- <div>

        <mat-form-field style="width: 100%">
            <mat-label>Status</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="status">
            <mat-placeholder>Name</mat-placeholder>
</mat-form-field>
    </div> -->
  <div class="modal-body cus-createForm">
    <div>
      <mat-form-field style="width: 100%">
        <mat-label>Client</mat-label>
        <input
          #cltInput
          matInput
          formControlName="client"
          [matAutocomplete]="clt"
          autocomplete="off"
          (keyup)="clientsearch(this.issueForm.value.client)"
        />
        <!-- <mat-icon matSuffix>unfold_more</mat-icon> -->
        <mat-autocomplete #clt="matAutocomplete" [displayWith]="displayFnclt">
          <mat-option
            *ngFor="let clt of EmpTaskCreateObj.clientList"
            [value]="clt"
            (click)="resetProjectAndModule()" title="{{clt.name}}"
          >
            {{ clt.name }}
          </mat-option>
          <mat-option *ngIf="!EmpTaskCreateObj.clientList || !EmpTaskCreateObj.clientList.length">
            No Records Found
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field
        style="width: 100%"
        (click)="
          Projectsearch(
            this.issueForm.value.client,
            this.issueForm.value.project
          )
        "
      >
        <mat-label>Project</mat-label>
        <input
          #appnmInput
          matInput
          type="text"
          formControlName="project"
          [matAutocomplete]="appnm"
          autocomplete="off"
          (keyup)="
            Projectsearch(
              this.issueForm.value.client,
              this.issueForm.value.project
            )
          "
        />
        <!-- <mat-icon matSuffix class="maticonsize">unfold_more</mat-icon> -->
        <mat-autocomplete
          #appnm="matAutocomplete"
          [displayWith]="displayFnappnm"
        >
          <mat-option
            *ngFor="let appnm of EmpTaskCreateObj.projectList"
            [value]="appnm"
            (click)="resetModule()" title="{{appnm.name}}"
          >
            {{ appnm.name }}
          </mat-option>
          <mat-option *ngIf="!EmpTaskCreateObj.projectList ||!EmpTaskCreateObj.projectList.length">
            No Records Found
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field
        style="width: 100%"
        (click)="
          getModule(
            this.issueForm.value.client,
            this.issueForm.value.project,
            this.issueForm.value.project_map_id
          )
        "
      >
        <mat-label>Module</mat-label>
        <input
          #modnmInput
          matInput
          formControlName="project_map_id"
          autocomplete="off"
          (keyup)="
            getModule(
              this.issueForm.value.client,
              this.issueForm.value.project,
              this.issueForm.value.project_map_id
            )
          "
          [matAutocomplete]="modnm"
        />
        <!-- <mat-icon matSuffix class="maticonsize">unfold_more</mat-icon> -->
        <mat-autocomplete
          #modnm="matAutocomplete"
          [displayWith]="displayFnmodnm"
        >
          <mat-option
            *ngFor="let modnm of EmpTaskCreateObj.moduleList"
            [value]="modnm" title="{{modnm.name}}"
          >
            {{ modnm.name }}
          </mat-option>
          <mat-option *ngIf="!EmpTaskCreateObj.moduleList ||!EmpTaskCreateObj.moduleList.length">
            No Records Found
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    

    <div>
      <mat-form-field style="width: 100%" (click)="getPriority()">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority_type" class="">
          <mat-option [value]="pry.id" *ngFor="let pry of priorityList" title="{{pry.text}}">
            {{ pry.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div >
      <mat-form-field class="TaskTextArea WidthMax">
        <mat-label>Description</mat-label>
        <textarea
          type="text"
          matInput
          autocomplete="off"
          formControlName="description"
          style="height: 250% !important;" 
        ></textarea>
        
      </mat-form-field>
    </div>
    <div></div>
    <div>
      <label  style="margin-right: 1em;">
        <input type="file" class="borderremove" #fileInput accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,
        .dotx,.dotm,.docb,
        .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png"
            multiple="true"  name="images" 
            (change)="fileChange($event)">
    </label>
    </div>
    <div >
      <button  class="btn cus-sprintFormIcon2" (click)="adddocformarray()" style="width: 26%;">Add</button>
    </div>

   

    
    <!-- <div>
      <div class="input-group">
        <div class="custom-file">
          <input
          formControlName="files"
            type="file"
            class="custom-file-input"
            id="importFile"
            multiple
             (change)="onFileSelect($event)"
          />
          <label class="custom-file-label" #labelImport for="importFile"
            >Choose file</label
          >
        </div>
        </div>
    </div> -->
  </div>
  <div class="table-responsive" style="width: 90%;margin-top: 10px;overflow-x: hidden;">
            
    <table class="table" id ='commonstyle'>
    <thead class="table_header" >
        <tr>
        <th>S.No</th>
        <th>Description</th>
        <th>Priority</th>
        <th>File</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let display of docFunctionList; let i = index; ">
            <td>{{i+1}}</td>
            <td>{{display?.description}}</td>
            <td>
              <ng-container *ngIf="display?.priority_type == 1">Normal</ng-container>
              <ng-container *ngIf="display?.priority_type == 2">High</ng-container>
              <ng-container *ngIf="display?.priority_type == 3">Low</ng-container>
            </td>
        
            <td style="font-size: small;width: 150px;cursor: pointer;">
                <div *ngFor="let file of display.filekey ;index as i;" title="{{file.name }}" class=" btn-link"
                data-bs-toggle="modal" data-bs-target="#my-modalpreview"
                    (click)="fileview(file)">
                    {{i+1}}.{{file.name }}

                </div>
            </td>
           
        </tr>
  </tbody>
</table>
</div>
  <!-- <div *ngFor="let file of reuploadfileArr;let index = index" class="cus-attachCard">
    <span>{{ file.name }}</span>
    <button mat-icon-button type="button" (click)="attachmentDelete(file.name, index)">
      <button class="btn" style="color: blue;"><i class="fa fa-trash"></i></button>
    </button>
</div> -->
  <div class="modal-footer" *ngIf="addData">
    <!-- <button class="btn btn-outline-secondary" (click)="BackToSummary()">
        Cancel
      </button> -->
    <button
      type="button"
      (click)="BackToSummary()"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
     
      (click)="SubmitIssue()"
      style="background-color: #044063;color: white;"
    >
      Save
    </button>
  </div>
</form>
