<div class="timesheet-container">
    <div class="col-lg-12 col-md-12 col-sm-12" style="display: flex;padding-left:15px">
        <span (click)="backtoTaskSummary()" class="material-icons pointer">arrow_back</span>
        <span style="margin-top: 2px;font-weight: bold;">Timesheet Month Report</span>
    </div>


    <form [formGroup]="ReportMonthly" class="reportContainer">
        <div>
            <mat-form-field>
                <mat-label>Month/Year</mat-label>
                <input matInput [matDatepicker]="dp" [formControl]="monyear" placeholder="Month and Year"
                formControlName="monthyear" />
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
              </mat-datepicker>
            
            </mat-form-field>
        </div>
        <!-- <div>
            <mat-form-field style="width:100%;"(click)="taskrclient('')"  >
                <mat-label>Team </mat-label>
                <input matInput formControlName="Team" #taskrcltInput autocomplete="off" [matAutocomplete]="clt1" (keyup)="taskrclient($event.target.value)"  />
                <mat-autocomplete #clt1="matAutocomplete" [displayWith]="displaytrclt" > -->
                    <!-- <mat-option *ngIf="isLoading">Loading..</mat-option> -->
                    <!-- <ng-container >
                        <mat-option *ngFor="let clt of trclientList"   [value]="clt" title="{{clt.name}}">{{clt.name}}
                        </mat-option>
                    </ng-container>
                    <mat-option *ngIf="!trclientList ||!trclientList.length">
                        No Record Found
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width:100%;"(click)="taskTeamLead('')"  >
                <mat-label>Team Lead </mat-label>
                <input matInput  formControlName="TeamLead" #taskrcltInput autocomplete="off" [matAutocomplete]="clt2" (keyup)="taskTeamLead($event.target.value)"  />
                <mat-autocomplete #clt2="matAutocomplete" [displayWith]="displaytrclt" > -->
                    <!-- <mat-option *ngIf="isLoading">Loading..</mat-option> -->
                    <!-- <ng-container >
                        <mat-option *ngFor="let clt of trclientTeamLead"   [value]="clt" title="{{clt.name}}">{{clt.name}}
                        </mat-option>
                    </ng-container>
                    <mat-option *ngIf="!trclientTeamLead ||!trclientTeamLead.length">
                        No Record Found
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div> -->
        <div (click)="getDeveloperdrop('')">
            <mat-form-field class="WidthMaxEigth">
                <mat-label> Employee</mat-label>
                <input #developerinput placeholder="Select Employee" matInput
                    formControlName="developer_id" [matAutocomplete]="developerrole"
                    (keyup)="getDeveloperdrop($event)">
                <mat-autocomplete #developerrole="matAutocomplete" [displayWith]="displaydevelopclient">
                    <ng-container>
                        <mat-option *ngFor="let opt of develop" [value]="opt" title="{{opt.name}}">
                            {{opt.name}}
                        </mat-option>
                    </ng-container>
                    <mat-option *ngIf="!develop ||!develop.length">
                        No Records Found
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div>
            <button class="btn btn-primary searchBtn" (click)="SummaryFunc()">
                <i class="fa-solid fa-magnifying-glass" ></i>
            </button>
        </div>
     
        <div>
   
            <button class="reportBtn" (click)="reportDownload()" style="margin-top: 7%;">Download</button>
            
        </div>
        <div>
            <button class="btn btn-secondary" type="button" style="margin-top: 10%;" (click)="resetTasks()">Reset
            </button>
         
            
        </div>
        

    </form>
    <div class="table-responsive ml-4" *ngIf="Summary.length">
        <table>
            <thead >
                <th>S.no</th>
                <th>Employee</th>
                <th class="widthLogdata" *ngFor="let data of HeadDate">{{data?.LOG_DATE}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of Summary;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data?.NAME}}</td>
                    <ng-container *ngFor="let date of data?.INFO">
                        <td  (click)="datass(date)"><div class="flagDisplay" *ngFor="let flag of date?.INFO?.flag"><span *ngIf="flag=='Present'">{{date?.INFO?.duration}}</span><span *ngIf="flag=='Absent'" class="BackRed">A</span><span *ngIf="flag=='Weekend'" class="BackGreen">W</span><span *ngIf="flag=='Holiday'" class="BackGreen">H</span></div></td>
                        <!-- <span *ngIf="!date?.INFO?.flag.length">{{date?.INFO?.duration}}</span><span *ngIf="flag==='Absent'" [ngClass]="flag==='Absent'?'BackRed':''">{{flag}}</span><span *ngIf="flag==='Present'">{{flag}}</span> -->
                        <!-- <td class="widthLogdata" *ngIf="date?.INFO['flag']='Absent'" [ngClass]="{'BackRed':date.INFO['flag']='Absent'}">{{date.INFO['flag']}}</td> -->

                    </ng-container>
                   
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                </tr>
            </tbody>
        </table>

    </div>
    <div class="DownData" *ngIf="Summary.length">
        <div class="TotalLimit">
            Total Limit : {{TotalLimit}}
        </div>
        <div class="mt-4 LimitDiv"><mat-form-field class="LimitWidth">
            <mat-label>Limit</mat-label>
            <input matInput [formControl]="Limit">
        </mat-form-field></div>
        <div>
            <button class="btn btn-primary" (click)="Submit()">Submit</button>
        </div>
    </div>
</div>