.reportContainer {
    max-width: 900px;
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  
  .reportContainer .mat-form-field {
    width: 240px;
  }
  
  .reportContainer-sub {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;
  }
  
  .reportBtn {
    padding: 8px 12px;
    background-color: #044063;
    color: white;
    border: none;
    border-radius: 6px;
  }
  .searchBtn{
    background-color: #044063;
    color: white;
    margin-top: 10%;
  }
  .cus-badgeGreen {
    border-radius: 100px;
    max-width: fit-content;
    background-color: #d7f8e1;
    color: #057926;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .cus-badgered {
    border-radius: 100px;
    max-width: fit-content;
    background-color: #ffcfcf;
    color: #be2424;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
  }
  
  .cus-badgeRed {
    border-radius: 100px;
    max-width: fit-content;
    background-color: #fae6e6;
    color: #7f1111;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .pointer {cursor: pointer;}
  
  .cus-taskPageBtnsDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 10px 20px 40px 20px;
  }
  
  .cus-taskPageBtnsDiv button {
    background-color: #044063;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 6px 4px;
    border-radius: 4px;
  }
  
  .cus-taskBtnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
  }
  
  .cus-btnActive {
    background-color: #eeeeef;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  table thead th{
    padding: 10px;
    border: 1px solid #80808036;
  }
  table tbody td{
    padding: 10px;
    border: 1px solid #80808036;
  }
  .BackRed{
    background-color: red;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid #00000036;
    font-weight: 500;
  }
  .BackGreen{
    background-color: green;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid #00000036;
    font-weight: 500;
  }
  .widthLogdata{
    width: 200px;
  }
  .table-responsive{
    width: 98%;
  }
  // .flagDisplay{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 15px;
  //   border: 1px solid #00000036;
  // }
  .TotalLimit{
    border: 1px solid #00000036;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
  }
  .DownData{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 14px;
    margin-right: 20px;
  }
  .LimitWidth{
    width: 100%;
  }
  .LimitDiv{
    width: 100px;
  }
  