<mat-dialog-content>
    <!-- <p>Choose an option:</p> -->
    <button mat-button (click)="selectOption('New')">New</button><br>
    <button mat-button (click)="selectOption('Bug Fix')">Bug Fix</button><br>
    <button mat-button (click)="selectOption('Enhancement')">Enhancement</button><br>
    <button mat-button (click)="selectOption('Training')">Training</button><br>
    <button mat-button (click)="selectOption('BAU Maintenance')">BAU Maintenance</button><br>
    <button mat-button (click)="selectOption('Management')">Management</button><br>
    <button mat-button (click)="selectOption('Planning')">Planning</button><br>
    <button mat-button (click)="selectOption('Meeting')">Meeting</button><br>
  <!-- <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="selectedOption">OK</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </mat-dialog-actions> -->
  