
::ng-deep .mat-form-field-outline {
  color:grey !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}
.matformfieldstyle{
  font-size: 13px;
  margin-top: 2px;
}
.matformfieldinputstyle{
  font-size:16px ;
}
.maticonsize{
  font-size:15px;
}

.mat-option:hover {
  background:#EDF8FA !important;
}
// button:hover {
//   background:#EDF8FA !important;
// }

// table
#commonstyle{
  border:15px none #f6f6f6
  }

  tr:nth-child(even) {background: #EDF8FA}
  tr:nth-child(odd) {background: #FFF}
table,th,td{
  text-align: center;
  // padding: 5px;
}


.names{
  text-align: left;
}
.navbar-light .navbar-nav .nav-link {
color: black;
font-size: 18px;
cursor: pointer;
}

.tab-btn {
margin-left: 81%;
position: relative;
}

.nav-item.show .nav-link,
.nav-tabs .nav-link.active {
background-color: transparent !important;
color: #21cbe5 !important;
text-decoration: underline;
cursor: pointer;
}

.nav-tabs .nav-link:hover {
border: none !important;
cursor: pointer;
}

.nav-tabs .nav-link {
border: none;
cursor: pointer;
}

.aligncenter{
text-align: center;
}

.table th td{
text-align: center;
}

.cursor{
cursor: pointer;
}
.mat-chip{
background-color: white !important;
border: 1px solid #B7B8BB;
border-radius: 16px;
}

.container {
margin: 10px 15px 100px 10px;
}
.alignvertical {
vertical-align: middle;
cursor: pointer;
}

.ddheight {
padding: 3px 3px 3px 3px;
}

.positiontext{
font-size: 14px;
}
.buttonwidth {
font-size: 20px;
}

.tablepaddingsizeheader{
width: 50%;
margin-left: 20px;
}
.tablepaddingsizeheader tr th{
padding: 5px;
margin:10px;
}

.adds{
  margin-left: 320%;
  margin-top: -48px;


}

// #team{
//   margin-left: 90%;
//   margin-top: -6%;

// }
.reset{
  margin-left: 190%;

  margin-top: -36px;

}

.buttons{
  margin-left: 80%;
  margin-top: -18px;
}

.co{
  margin-left: 73px;

}

.sqas{
  height: 30px;
}

#asse{
  margin-left: 73px;
}

.col{
  margin-left: 1%;

}
.inpufield{
  display: flex;
  align-items: center;
  column-gap: 20px;

}

.h2pipe{
  margin-left: 55px ;
  margin-top: -40px;
}

.h2pipel{
  margin-left: 40px ;
  margin-top: -50px;
}