<div *ngIf="isShowPipelines">
    <div>
      <form [formGroup]="pipelineSummaryForm" class="form-container">
        <div class="cus-pipelineFormContainer">
         
          <!-- <div>
            <mat-form-field (click)="getDropDown()">
              <mat-label>Pipeline Status</mat-label>
              <mat-select matInput formControlName="status">
                <mat-option *ngFor="let opt of droplist" [value]="opt.id">
                  {{ opt.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div (click)="getClientdrop()">
            <mat-form-field class="MatFormMargin">
              <mat-label>Client</mat-label>
              <input
                #clientclientInput
                placeholder="Select Client"
                matInput
                formControlName="client"
                [matAutocomplete]="clientteamrole"
                (click)="clientclick()"
              />
              <mat-autocomplete
                #clientteamrole="matAutocomplete"
                [displayWith]="displayccclient"
              >
                <ng-container>
                  <mat-option *ngFor="let opt of clientdrop" [value]="opt" title="{{opt.name}}">
                    {{ opt.name }}
                  </mat-option>
                </ng-container>
                <mat-option *ngIf="!clientdrop || !clientdrop.length">
                  No Records Found
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div (click)="getTeamleaddrop()">
            <mat-form-field class="MatFormMargin">
              <mat-label>Team Lead</mat-label>
              <input
                #teamlead
                placeholder="Select TeamLead"
                matInput
                formControlName="team_lead"
                [matAutocomplete]="teamrole"
                (click)="teamleadclick()"
              />
              <mat-autocomplete
                #teamrole="matAutocomplete"
                [displayWith]="displayteamleadclient"
              >
                <ng-container>
                  <mat-option *ngFor="let opt of teams" [value]="opt" title="{{opt.name}}">
                    {{ opt.name }}
                  </mat-option>
                  <mat-option *ngIf="!teams ||!teams.length">
                    No Records Found
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
          </div>
  
          <div class="cus-piplineHeadBtns">
            <button
              class="btn btn-primary"
              (click)="pipesSearch('')"
              style="
                background-color: #044063;
                color: white;
                border: none;
                border-radius: 4px;
                padding: 6px 8px 2px 8px;
                margin: 0;
              "
            >
              <mat-icon>search</mat-icon>
            </button>
            <!-- <i class="fa-solid fa-magnifying-glass gradient-icon" style="margin-left: 21%;"
                          (click)="pipesSearch('')"></i> -->
            <!-- <i class="fa-solid fa-xmark" style="margin-left: 23%;" (click)="resetTasks()"></i> -->
  
            <div style="position: relative">
              <button
                class="btn btn-primary"
                style="background-color: #044063; color: white"
                (click)="pipelinePopups()"
              >
                <span><i class="fa-solid fa-filter"></i></span>
              </button>
  
              <!-- Filter Popup -->
              <div *ngIf="pipelinePopup">
                <form
                  [formGroup]="pipelineSummaryForm"
                  class="cus-filterSearchContainer"
                >
                  <div class="cus-filterSearch">
                    <!-- <div>
                <mat-form-field class="matformfieldstyle" appearance="outline">
                  <mat-select
                    class="matformfieldinputstyle"
                    placeholder="Filter"
                    formControlName="dynamicdropdown"
                  >
                    <mat-option
                      (click)="pipelinefunction()"
                      *ngFor="let type1 of pipelinefilter"
                      [value]="type1.id"
                      >{{ type1.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
                    <div>
                      <mat-form-field class="WidthMax">
                        <mat-label>Search Task</mat-label>
                        <input matInput formControlName="query" />
                        <!-- <mat-icon matSuffix class="maticonsize" (click)="pipesSearch('')">search</mat-icon> -->
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>Start date</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker1"
                          placeholder="Start Date"
                          autocomplete="off"
                          formControlName="start_date"
                          (dateInput)="startdateclick($event)"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker1"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <!-- <mat-datepicker (dateChange)="startdateclick()" ></mat-datepicker> -->
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>End date</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker2"
                          placeholder="End Date"
                          autocomplete="off"
                          formControlName="end_date"
                          (dateInput)="enddateclick($event)"
                          [min]="pipelineSummaryForm.value.start_date"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker2"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker2> </mat-datepicker>
                        <!-- <mat-datepicker (click)="enddateclick()"></mat-datepicker> -->
                      </mat-form-field>
                    </div>
                    <!-- <div>
                <mat-form-field
                  style="width: 100%; margin-top: -7%"
                  (click)="getPipelinedrop()"
                >
                  <mat-label>Pipeline Status</mat-label>
                  <mat-select matInput formControlName="pipeline_status">
                    <mat-option *ngFor="let opt of pipes" [value]="opt.id">
                      {{ opt.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
                    <div (click)="getAppdrop()">
                      <mat-form-field style="width: 100%">
                        <mat-label> Project</mat-label>
                        <input
                          #clientInput
                          placeholder="Select Project"
                          matInput
                          formControlName="app_id"
                          [matAutocomplete]="clientrole"
                          (click)="appClick()"
                        />
                        <mat-autocomplete
                          #clientrole="matAutocomplete"
                          [displayWith]="displayFnclient"
                        >
                          <!-- <mat-autocomplete> -->
                          <ng-container>
                            <mat-option *ngFor="let opt of appdrop" [value]="opt" title="{{opt.name}}">
                              {{ opt.name }}
                            </mat-option>
                          </ng-container>
                          <mat-option *ngIf="!appdrop ||!appdrop.length">
                            No Records Found
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
  
                    <div (click)="getModuledrop()">
                      <mat-form-field class="WidthMax">
                        <mat-label>Module </mat-label>
                        <input
                          #moduleInput
                          placeholder="Select Module"
                          matInput
                          formControlName="module_id"
                          [matAutocomplete]="modulerole"
                          (click)="moduleClick()"
                        />
                        <mat-autocomplete
                          #modulerole="matAutocomplete"
                          [displayWith]="displaymoduleclient"
                        >
                          <ng-container>
                            <mat-option
                              *ngFor="let opt of moduledrop"
                              [value]="opt" title="{{ opt.name }}"
                            >
                              {{ opt.name }}
                            </mat-option>
                          </ng-container>
                          <mat-option *ngIf="!moduledrop || !moduledrop.length">
                            No Records Found
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div (click)="getDeveloperdrop()">
                      <mat-form-field class="WidthMax">
                        <mat-label> Employee </mat-label>
                        <input
                          #developerinput
                          placeholder="Select Employee"
                          matInput
                          formControlName="developer_id"
                          [matAutocomplete]="developerrole"
                          (click)="developerClick()"
                        />
                        <mat-autocomplete
                          #developerrole="matAutocomplete"
                          [displayWith]="displaydevelopclient"
                        >
                          <ng-container>
                            <mat-option *ngFor="let opt of develop" [value]="opt" title="{{opt.name}}">
                              {{ opt.name }}
                            </mat-option>
                          </ng-container>
                          <mat-option *ngIf="!develop ||!develop.length">
                            No Records Found
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    
                    <!-- <div (click)="statusdrop()">
                              <mat-form-field style="width: 100%;">
                                  <mat-label>Status</mat-label>
                                  <input #status placeholder="Select status" matInput formControlName="status"
                                      [matAutocomplete]="statusrole" (click)="statusclick()">
                                  <mat-autocomplete #statusrole="matAutocomplete" [displayWith]="displaystatusleadclient">
                                      <ng-container>
                                          <mat-option *ngFor="let opt of statusdrops" [value]="opt">
                                              {{opt.text}}
                                          </mat-option>
                                      </ng-container>
                                  </mat-autocomplete>
                              </mat-form-field>
                          </div> -->
                    <!-- <div>
                              <mat-form-field style="width: 100%;">
                                  <mat-label>Query</mat-label>
                                  <input matInput formControlName="query" placeholder="Query">
                              </mat-form-field>
                          </div> -->
                  </div>
                  <div class="cus-filterSearch-btnDiv">
                    <button
                      class="btn btn-secondary"
                      color="primary"
                      (click)="resetsprinitform()"
                    >
                      Reset
                    </button>
                    <div class="cus-aSearchBtnDiv">
                      <button
                        class="btn btn-primary"
                        type="submit"
                        color="primary"
                        (click)="pipesSearch('')"
                        style="background-color: #044063;color: white;"
                      >
                        Apply
                      </button>
  
                      <button class="btn btn-secondary" (click)="pipelinePopups()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
  
            <button
              class="btn btn-secondary"
              type="button"
              (click)="resetpipes()"
            >
              Clear
            </button>
            <!-- <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;display: flex;font-size: larger;
                      margin-top: -4%;"> <mat-icon style="margin-left: 2%;">filter_list</mat-icon>filter</span> -->
          </div>
        </div>
      </form>
  
      <div class="cus-tableContainer">
        <table class="table cus-table">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Task</th>
              <th scope="col">Client</th>
              <th scope="col">Type</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Assignee</th>
              
              <th scope="col">Select</th>
            </tr>
          </thead>
          <tbody *ngFor="let type of pipeList; index as i">
            <tr>
              <td>
                {{ (this.sprintpresentpage - 1) * pagesizeStoryTask + i + 1 }}
              </td>
              <td>
                <div>
                  <mat-icon
                    *ngIf="type?.priority_type?.text === 'High'"
                    style="color: #f50000"
                    title="High"
                    >flag</mat-icon
                  >
                  <mat-icon
                    *ngIf="type?.priority_type?.text === 'Normal'"
                    style="color: #ffcc00"
                    title="Normal"
                    >flag</mat-icon
                  >
                  <mat-icon
                    *ngIf="type?.priority_type?.text === 'Low'"
                    style="color: #6fddff"
                    title="Low"
                    >flag</mat-icon
                  >
                  <span
                    class="cus-badgeLightBlack pointer"
                    [ngClass]="'othersColor'"
                    (click)="story_TaskView(type.id)"
                    >{{ type?.code }}</span
                  >
                  -
                  <span class="pointer blue"
                    title="{{ type?.task }}"
                    (click)="story_TaskView(type.id)"
                  >
                    {{
                      type?.task.length > 25
                        ? (type?.task | slice : 0 : 25) + ".."
                        : type.task
                    }}
                  </span>
                </div>
              </td>
              <td>
                {{ type.client }}
              </td>
              <td>
                <span class="cus-badge">
                  <span *ngIf="type?.type == 'New'" class="cus-badgeGreen"
                    >New</span
                  >
                  <span *ngIf="type?.type == 'Bug Fix'" class="cus-badgeRed"
                    >Bug Fix</span
                  >
                  <span *ngIf="type?.type == 'Enhancement'" class="cus-badgeBlue"
                    >Enhancement</span
                  >
                  <span *ngIf="type?.type == 'Training'" class="cus-badgeYellow"
                    >Training</span
                  >
                  <span
                    *ngIf="type?.type == 'BAU Maintenance'"
                    class="cus-badgeLightGreen"
                    >BAU Maintenance</span
                  >
                </span>
              </td>
              <td>
                {{ type.start_date | date : "dd/MM/yyyy" }}
              </td>
              <td>
                {{ type.end_date | date : "dd/MM/yyyy" }}
              </td>
              <td>
                <ng-container
                  *ngIf="
                    type?.assigned_to?.assigned_to &&
                    type?.assigned_to?.assigned_to.length > 0
                  "
                >
                  <div title="{{ type?.assigned_to?.assigned_to[0]?.name }}">
                    <div>
                      <span
                        *ngIf="
                          type?.assigned_to?.assigned_to[0]?.name
                            .trim()
                            .split(' ')[0].length > 1;
                          else shortOrTwoWords
                        "
                      >
                        {{
                          type?.assigned_to?.assigned_to[0]?.name
                            .trim()
                            .split(" ")[0] | uppercase
                        }}
                      </span>
                      <ng-template #shortOrTwoWords>
                        <span
                          *ngIf="
                            type?.assigned_to?.assigned_to[0]?.name
                              .trim()
                              .split(' ')[0].length === 1
                          "
                        >
                          {{
                            type?.assigned_to?.assigned_to[0]?.name
                              .trim()
                              .split(" ")
                              .slice(0, 2)
                              .join(" ") | uppercase
                          }}
                        </span>
                      </ng-template>
                    </div>
                    <!-- <div *ngIf="type?.assigned_to.length > 1"
                                                                                [matBadge]="type?.assigned_to.length - 1"
                                                                                matBadgePosition="above after" matBadgeSize="small"
                                                                                matBadgeColor="warn">
                                                                                {{type?.assigned_to[0]?.name[0] | uppercase}}
                                                                            </div> -->
                  </div>
                </ng-container>
              </td>
          
              <td style="text-align: center">
                <mat-checkbox
                  [(ngModel)]="type.ischecked"
                  (ngModelChange)="check($event, type)"
                ></mat-checkbox>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- <div class="cus-pageCount">
                  <div class="cus-pageNumbers">
                      <p class="cus-btnActive">1</p>
                      <p>2</p>
                      <p>3</p>
                      <p>4</p>
                  </div>
                  <button class="cus-btnNext">
                      Next <mat-icon>arrow_forward</mat-icon>
                  </button>
              </div> -->
      <div class="cus-pipePageBtnsDiv">
        <button
          mat-icon-button
          [disabled]="has_previousStoryTask === false"
          (click)="previousPage()"
        >
          <mat-icon>arrow_backward</mat-icon>
        </button>
  
        <div class="cus-pageNumbers">
          <!-- <p style="text-align: center;">{{this.pageNumbers-1}}</p>  -->
          <p class="cus-btnActive">{{ this.sprintpresentpage }}</p>
          <!-- <p style="text-align: center;">{{this.pageNumbers+1}}</p> 
                       <p style="text-align: center;">{{this.pageNumbers+2}}</p>                -->
        </div>
  
        <button
          mat-icon-button
          [disabled]="has_nextStoryTask === false"
          (click)="nextPage()"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
  
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#myModal1"
        >
          Submit
        </button>
  
        <!-- Popup -->
        <div
          class="modal fade"
          id="myModal1"
          data-backdrop="static"
          data-keyboard="false"
        >
          <form [formGroup]="pipelineSubmitform">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- <div class="modal-header">
                  <p style="margin-bottom: 0">Select Type</p>
                  <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    #closebutton
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> -->
                <div
                  class="modal-header"
                  style="background-color: #044063; color: white"
                >
                  <p
                    class="modal-title"
                    id="exampleModalLabel"
                    style="margin-bottom: 0"
                  >
                    Select Type
                  </p>
                  <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    #closebutton
                    style="color: white"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <mat-radio-group formControlName="datatype">
                      <mat-radio-button
                        *ngFor="let n of datatype"
                        [value]="n.id"
                        style="margin-left: 10px"
                        (click)="invtype(n)"
                      >
                        <p
                          style="
                            font-family: 'Poppins', sans-serif;
                            margin-bottom: 0;
                          "
                        >
                          {{ n.name }}
                        </p>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div *ngIf="newfield">
                    <div
                      class="timeline-steps aos-init aos-animate"
                      data-aos="fade-up"
                    >
                      <mat-form-field>
                        <mat-label>Collab Name</mat-label>
                        <input matInput formControlName="name" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="oldfield">
                    <div (click)="getcollabdrop()">
                      <mat-form-field>
                        <mat-label>Select Collab</mat-label>
                        <input
                          #developerinput
                          placeholder="Select Employee"
                          matInput
                          formControlName="collab_id"
                          [matAutocomplete]="collabrrole"
                          (click)="collabClick()"
                        />
                        <mat-autocomplete
                          #collabrrole="matAutocomplete"
                          [displayWith]="displaycollabclient"
                        >
                          <ng-container>
                            <mat-option
                              *ngFor="let opt of getcollabdropdown"
                              [value]="opt"
                            >
                              {{ opt.description }}
                            </mat-option>
                          </ng-container>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    (click)="popclose()"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    #closebutton
                  >
                    Close
                  </button>
  
                  <button
                    class="btn btn-primary"
                    (click)="SubmitTask()"
                    style="background-color: #044063; color: white"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="taskview">
    <app-taskviews
      (OnSubmit)="backtoTaskSummary()"
      (OnCancel)="backtoTaskSummary()"
    ></app-taskviews>
  </div>
  