/* You can add global styles to this file, and also import other style files */
.mat-form-field-underline{
    background-color:lightgrey !important;
  }
// /* Importing Bootstrap SCSS file. */
// // @import '~bootstrap/scss/bootstrap';

// /* Importing Bootstrap SCSS file. */
// // @import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
// @import "node_modules/bootstrap/scss/bootstrap";
/* Importing Bootstrap SCSS file. */
// @import "../node_modules/bootstrap/scss/bootstrap";
// Angular Material
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Importing Bootstrap SCSS file. */
// @import "bootstrap/scss/bootstrap";
// Google Fonts
.mat-form-field,div,.mat-option,.mat-fab,.mat-button,button,.mat-menu-item,p {
  font-family: "Montserrat";
}
#primarybtn{
  border-radius: 10px;
  margin-left: 10px;
    border-color: #F5C68B;
    background-color: #F5C68B;
}
#rupee{
  font-size: 14px;
  }

#amountlen{
  width: 175px;
}

#tadate{
  width: 195px;
}
#tatime{
  width: 100px;
}

#secondarybtn{
  border-radius: 7px;margin-left: 10px;
    border-color: black;
    background-color: white;
}



#secondarybtn:hover {
  background:#EDF8FA !important;
}

#cardstyle {
  margin:20px 12px 20px 20px;
}

#commonstyle{
  // border:15px #f6f6f6
  border: 15px #dddddd  }

  ::ng-deep .mat-form-field-outline {
    color:grey !important;
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}

.mat-icon{
  cursor: pointer;
}

// input{
//   text-transform: capitalize;
// }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --global: #044063; 
    --fullwhite: #ffffff;
  
    --fontsmall: 12px;
    --fontmedium: 14px;
    --fontlarge: 16px;
  
    --paddingsmall: 5px;
    --paddingmedium: 7px;
    --paddinglarge: 10px;
  
    --marginTen : 10px;
    --marginleftTwenty : 20px;
    --marginleftThirty : 30px;
    --marginleftFourty : 40px;
    --marginFifty : 50px;
  
    --widthTableHalf: 50%;
    --widthTableSF: 75%;
    --widthTableFull: 95%; 
  
  }
  
  /* /////////// Table  */
  body{
    font-size: 14px;
    /* background-color: #f3f3f3; */
    font-family: 'Catamaran', sans-serif;
  }
  
  
  #tableGlobal tr th{
    background-color: var(--global);
    text-align: center; 
  }
  #tableGlobal tr td{
    text-align: center; 
  }
  #tableGlobal tr td .amount{ 
    text-align: end;
  }
  
  #tableGlobal tr th, #tableGlobal tr th {
    padding: var(--paddingmedium); 
  }
  
  #tableGlobal tr:nth-child(even) {background: #EDF8FA}
  #tableGlobal tr:nth-child(odd) {background: #FFF}
  
  
  /* //////////// Input  */
  
  #longInput{
    width: 500px;
  }
  
  #mediumInput{
    width: 300px;
  }
  
  #smallInput{
    width: 200px;
  }
  
  #ultrasmallInput{
    width: 100px;
  }
  
  .mat-form-field-outline {
    color: grey !important;
  }
  
  .mat-form-field {
    font-size: 14px;
  }
  .mat-mdc-text-field-wrapper {
    height: 56px !important;
  }
  
  .mat-mdc-form-field {
    --mdc-outlined-text-field-label-text-size: 14px;
    --mat-form-field-outlined-label-text-populated-size: 14px;
  }
  .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field-icon-suffix {
    top: -3px;
  }
  .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field-icon-suffix mat-icon {
    font-size: 16px !important;
  }
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 23px !important;
  }
  .mat-mdc-input-element {
    top: -3px !important;
    position: relative !important;
  }
  .mat-mdc-select-value-text {
    font-size: 14px !important;
  }
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
    font-size: 14px !important;
  }
  .mat-mdc-form-field
    .mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    top: 28px !important;
    position: relative !important;
    padding: 0 0 0 10px !important;
    left: 0px;
  }
  .mat-mdc-select-trigger {
    position: relative;
    top: -3px;
  }
  
  .mat-form-field-flex{
    font-size: 12px;
  }
  .mat-input-element::-webkit-input-placeholder{
    font-size: 14px;
  }
  .mat-form-field input {
    height: 20px;
    transition: height ease-in-out 400ms;
  }
  
  .mat-form-field input:focus {
    background-color: red !important;
    height: 50px;
    transition: height ease-in-out 400ms; 
  }
  
  mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.6em 0px }
  mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }
  
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 150.33333%;
  }
  
  /* ///////////////// cursor style  */
  #cursorStyle{
    cursor: pointer;
  }
  
  /* .mat-form-field-outline {
    color: grey !important;
  } */
  
  /* //////////////////////// Menu part */
  
  
  .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: transparent !important;
    color: #044063 !important;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .nav-tabs .nav-link:hover {
    border: none !important;
    cursor: pointer;
  }
  
  .nav-tabs .nav-link {
    border: none;
    cursor: pointer;
    color: #000000;
  }
  
  
  /* ////////////////////////////// Badge Paddings */
  
  .badgesPaddings{
    padding:4px;
  }
  
  #hyperlink{
    text-decoration: underline;
    color: var(--global)
  }
  
  #submitBtn{
    border-radius: 10px; margin-left: 10px;
    border-color: #f5c68b; background-color: #f5c68b;
  }
  #WhiteBtn{
    border-radius: 7px; margin-left: 10px;
    border-color: black; background-color: white;
  }
  
  
  #collapseNoteView {
    min-width: 500px;
    max-width: 900px;
    max-height: 500px;
    padding: 5px; 
    overflow: hidden;
    overflow: scroll;
  }
  
  #collapseNoteView::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  #collapseNoteView::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  #collapseNoteView::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  
  
  
  
  
  
  
  
  
  .parent { 
    position: relative; 
    width: 230px; 
    height: 40px; 
    background-color: #DDEFDD;
    border-bottom: dotted 1px #d4d4d4; 
    font-size: 14px; 
    text-align: left; 
    cursor: pointer;
    color: #007337;
  } 
  
  .tactooltip {
    min-width: fit-content;
    background-color: #f6f6f6;
    color:black !important;
    min-height: fit-content;
    font-family:"Montserrat";
    font-size: 14px;
  }
  
  .parent_selected{ 
    position: relative; 
    width: 230px; 
    height: 40px;  
    background-color: #4A708B;
    font-size: 14px; 
    text-align: left; 
    cursor: pointer;
    color: #fff;
  } 
  .child { 
    position: absolute; 
    left: 205px; 
    top: 0px; 
    width: 200px; 
    height: 40px;  
    font-size: 14px; 
    text-align: left; 
    display: none;
  }
  
  .child_text{
      background-color: #fafafa; 
      border: dotted 1px #007337; 
      background-color: #007337;
      color:#fff;
  }
  
  .module_text{
      padding: 10px;
      margin-left: 10px; 
  }
  
  .module_text_selected{
    padding: 10px;
    margin-left: 10px; 
  }
  
  .module_container{background-color: #DDEFDD;}
  
  .footer{
      position: fixed;
      bottom: 0px;
      width: 1440px;
      box-shadow:  0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      background-color: #f6f6f6; 
  }
  .footer_text{
      text-align: center;
      font-size: 12px; 
  }
  
  .table_header {
    background-color:#f6f6f6;
    color: black;
    padding-right: 10px;
    font-weight:500;
  }
  .table_container{
    border:1px solid #ddd;
    font-size: 12px;
    width: 100%;
    margin-bottom: 20px;
    line-height: 2;
    text-align: justify;
  }
  
  .table_border{
    border:1px solid #ddd;
  }
  body{ margin: 0px;
  }
  
  html{ 
    overflow-y: scroll;
  }
  .module_title{
    padding: 15px;
    font-size: 14px;
    color:rgb(27, 48, 28);
    font-weight: 500;
  }
  .module_title_container{
    float:left; 
  }
  input {
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  }
  .no-outline:focus {
  outline: none;
  }
  
  .my-tab a.nav-link{
  display: flex;
  -webkit-box-align:center;
  align-items: center;
  border: 0px;
  position: relative;
  overflow: hidden;
  }
  
  /* .nav_tabs{
  border-bottom:1px solid #eeeef1;
  }
  
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  color:#cecece;
  }
  
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: transparent !important;
  color:#007338 !important;
  } */
  
  .user-title{
  float: left;
  padding-right: 20px;
  }
  
  .create_link{
  float:right;
  padding-bottom: 10px;
  }
  
  .btn-vys-style{
  border-radius: 40px !important;
  line-height: 1 !important;
  }
  
  .personal-info{
  padding-left: 25px;
  padding-top:20px;
  padding-bottom: 10px;
  }
  
  
  
  .widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  }
  body .no-padding {
  padding: 0;
  }
  .widget-area {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
  }
  .status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 100%;
  }
  .status-upload form {
  float: left;
  width: 100%;
  }
  .status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize:vertical;
  outline:none;
  border: 1px solid #F2F2F2;
  }
  
  .status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
  }
  .status-upload ul > li {
  float: left;
  }
  .status-upload ul > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
  }
  .status-upload ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
  }
  .status-upload form button {
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px;
  }
  .dropdown > a > span.green:before {
  border-left-color: #2dcb73;
  }
  .status-upload form button > i {
  margin-right: 7px;
  }
  
  
  
  
  
  body {
    padding-top: 0px;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
  }
  .input-group-btn .btn-group {
    display: flex !important;
  }
  .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
  }
  .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  @media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
  }
  
  .detail_table_label{
  color: gray;
  }
  
  .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
  }
  
  .media-list .media {
  border-bottom:1px solid #efefef;
  margin-bottom:25px;
  }
  
  
  .comments-details button.btn.dropdown-toggle,
  .comments-details .total-comments {
    font-size: 14px;
    font-weight: 500;
    color: #5e5e5e;
  }
  .comments-details {
    padding: 15px 15px;
  }
  .comments .comments .dropdown,
  .comments .dropup {
    position: relative;
  }
  .comments button {
    border: none;
  }
  .comments .comment-box {
    width: 100%;
    float: left; 
    padding: 10px 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .comments .add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 170px;
  }
  .comments .commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
  }
  .comments .add-comment .commenter-name {
    width: 100%;
    
    position: absolute;
    top: 20px;
    left: 0px;
  }
  .comments .add-comment input {
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    font-weight: normal;
  }
  
  .mat-option:hover {
    background:#EDF8FA !important;
  }
  
  .mat-option.mat-active {
    background: #EDF8FA !important;
  }
  .comments .add-comment input:focus {
    border-color: #03a9f4;
    border-width: 2px;
  }
  .comments .add-comment button[type=submit] {
    background-color: #03a9f4;
    color: #fff;
    margin-right: 0px;
  }
  .comments .add-comment button {
    margin: 10px 5px;
    font-size: 12px; 
    float: right;
  }
  .comments .commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 14px;
  }
  .comments p.comment-txt {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 15px;
  }
  .comments .commenter-name {
    display: inline-block;
    position: relative;
     
    font-size: 14px; 
  }
  .comments .comment-meta {
    font-size: 12px;
    color: #333;
    padding: 2px 5px 0px;
    line-height: 20px;
    float: right;
  }
  .comments .reply-box {
    display: none;
  }
  .comments .replied {
    background-color: #fff;
    width: 95%;
    float: right;
    margin-top: 15px;
  }
   
  @media (max-width: 767px){
  .comments .commenter-name {
    font-size: 12px;
    top: -5px;
  }
  .comments .commenter-pic {
    width: 40px;
    height: 40px;
  }
  .comments .commenter-name a{
  display: block;
  }
  .comments .commenter-name .comment-time{
  display: block;
  margin-left: 0px;
  }
  }
  
  
  
  .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  }
  .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #02A85A;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
  }
  @keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
  }  
  /* .lg_logo{
    background-color: lightblue;
  } */
  table thead th {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  table{
    margin-top: 10px;
  }
  table thead{
    background-color:  #eeeeef;
    /* background-color: #E4E8EA; */
  }
  /* table th:first-child{
    border-radius: 8px 0 0 8px;
  }
  table th:last-child{
    border-radius: 0 8px 8px 0;
  } */
  table thead th {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background-color:  #eeeeef !important;
    padding: 10px;
  }
  table td {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  *{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  .fa-trash-can {
    border-radius: 4px;
    /* background-color: #fff0d5; */
    padding: 10px;
   /* color: #ffa500; */
    color: red;
    cursor: pointer;
  }
  .fa-pencil {
    /* background-color: #ededff; */
    color: #474aff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .width{
    width: 90px;
  }
  .close{
    font-size: 20px;
    background: transparent;
    padding-top: 0;
    color: gray !important;
    border: none;
  }
  .close:hover{
    color: white !important;
  }
  .modal-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .MatFormMargin{
    margin-top: 16px;
  }
  .WidthMax{
    width: 100%;
  }
  .WidthMaxEigth{
    width: 87%;
  }
  .Pagination{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
  }
  .TaskTextArea .mat-mdc-text-field-wrapper{
    height: auto !important;
  }
  .Rupee .mat-mdc-form-field-icon-prefix{
    width: 20% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }
  .custom-file{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
  }
  .custom-file-input{
    position: relative;
      z-index: 2;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      margin: 0;
      overflow: hidden;
      opacity: 0;
  } */
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
