@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.cus-brdAddContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  width: 20%;
  margin-left: 3%;
  margin-top: 24px;
}

.mat-form-field {
  width: 100%;
}
.btn-primary{
background-color: #044063;
}
.material-icons {
  font-family: "Material Icons", sans-serif;
}
.BRDTitle{
  display: flex;
   font-size: 18px;
   margin-left: 13px; 
   margin-top: 7px;
   width: 100%;
}